$radio:375 / 10;
@function px2rem($px) {
    @return $px / $radio+rem
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}