.slide-down-enter,
.slide-down-leave-to {
    height: 0;
}

.slide-down-enter-to,
.slide-down-leave {
    height: 100%;
}

.slide-right-enter-active,
.slide-right-leave-active,
.scale-enter-active,
.slide-left-leave-active,
.slide-left-enter-active,
.fade-enter-active,
.slide-down-enter-active,
.fade-leave-active {
    transition: all 0.2s linear;
}

.fade-enter-active {
    transition: all 0.4s ease-out;
}

.fade-enter,
.fade-leave-to {
    opacity: .4;
}

.fade-enter-to,
.fade-leave {
    opacity: 1;
}

.slide-left-enter-to,
.slide-left-leave {
    transform: translate(0, 0);
}

.slide-left-enter,
.slide-left-leave-to {
    transform: translate(100%, 0);
}

.scale-enter-to {
    transform: scale(1, 1);
    transform-origin: bottom;
}

.scale-enter {
    transform-origin: bottom;
    transform: scale(1, 0);
}

.slide-right-leave-to,
.slide-right-enter {
    transform: translate(-100%, 0);
}

.slide-right-leave,
.slide-right-enter-to {
    transform: translate(0, 0);
}