.slide-down-enter,
.slide-down-leave-to {
    height: 0;
}

.slide-down-enter-to,
.slide-down-leave {
    height: 100%;
}

.fade-enter-active,
.slide-down-enter-active {
    transition: all 0.2s linear;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-to {
    opacity: 0.8;
}